table, th {
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
    width: 2vh;
    height: 2vh;
}

table.frst {
    text-align: center;
    width: 150vh;
    box-shadow: 0 0 0 1px #CC70F4;
}

table.scnd {
    width: 150vh;
}

th.int {
    background-color: #AD2FE4;
    color: #fff;

}

td.opt {
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
    width: 2vh;
    height: 2vh;
}

td.tht {
    text-align: center;
    vertical-align: middle;
}

.col {
    width: 100%;
    padding-right: 633px;
    text-align: left;
}

.btn {
    width: 1.3em;
    height: 1.3em;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 0 2px #ddd;
    appearance: none;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: #000;
}